@theme {
  /* Colors */
  --color-surface-black: #131313;
  --color-near-black: #141414;
  --color-pure-white: #ffffff;
  --color-mid-gray: #b3b3b3;
  --color-dark-gray: #4d4d4d;
  --color-light-gray: #d9d9d9;
  --color-pure-black: #000000;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-base: 16px;
  --spacing-lg: 20px;
  --spacing-xl: 24px;
  --spacing-2xl: 28px;
  --spacing-3xl: 32px;
  --spacing-4xl: 35px;
  --spacing-5xl: 40px;
  --spacing-6xl: 42px;
  --spacing-7xl: 80px;

  /* Border Radius */
  --radius-sm: 4px;
  --radius-md: 15px;
  --radius-lg: 16px;
  --radius-xl: 28px;
  --radius-2xl: 31px;
  --radius-phone-mockup: 42px;
  --radius-pill: 120px;

  /* Fonts */
  --font-neue-haas-grotesk-display-pro: "Neue Haas Grotesk Display Pro", sans-serif;

}